<div>

<!-- - - - -List of user's saved addresses- - - - -->

  <div id='places'>
    <h4>Addresses</h4>
    <div ng-repeat='place in places' ng-click='addAddress(place)' class='address'>
      <span class='addressLabel'>{{place.label}}</span><br>
      <span class='addressLocation'>{{place.location}}</span>
    </div>
  </div>

<!-- - - - -Form for user inputting addresses- - - - -->

  <form id='addAddress' name='newAddress' ng-submit='saveAddress(newAddress)'>
    <fieldset>
      <legend>Add an Address</legend>
      <h4>Label:</h4>
      <input name='label' type='text' ng-model='address.label' required><br>
      <h4>Address:</h4>
      <input name='location' type='text' ng-model='address.location' required><br>
      <input type='submit'>
    </fieldset>
  </form>

</div>