<div>
  <div>New User? <span  class='loginRedirectText' ng-click='showNewUserForm()'>Create an Account</span></div>
</div>
<div>
  <form name='loginForm' ng-submit='loginSubmit(loginForm)'>
    <span>Username </span><input class='textInput' ng-model='username' required/><br>
    <span>Password </span><input class='textInput' ng-model='password' type='password' required/><br>
    <span class='invalid' ng-show='invalid'>Invalid username or password!</span><input type='submit' value='Log in' class='btn'/>
  </form>
</div>