<div ng-controller='inputsController'>

  <div class='header'>
    <div class='inline'>
      <h1>FoodFood</h1>
    </div>

<!-- Show login option for users who want to login -->
    <div class='inline rightSide' ng-show='activeUser'>
      <div>
        <h4>Log in</h4>
      </div>
      <div>
        <form>
          <span>Username: </span><input required/><br>
          <span>Password: </span><input required/><br>
          <input type='submit' />
        </form>
      </div>
    </div>

    <div class='inline rightSide' ng-hide='activeUser'>
      <button>Log out</button>
    </div>

  </div>
  <hr></hr>

  <form id='routeSearch' name='routeForm' ng-submit='submit(routeForm)'>
    Start: <input name='start' type='text' ng-model='start' required/>
    End: <input name='end' type='text' ng-model='end' required/>
    <input type='submit'/>
    <select ng-model='mode'>
      <option value='walking'>Walking</option>
      <option value='driving'>Driving</option>
      <option value='bicycling'>Bicycling</option>
    </select>
  </form>

  <button id='logout' ng-click='logout()'>Logout</button>
  <a ui-sref='options' class='blockDisplay'>Options</a>

  <div>
    <div ui-view='restaurantList' id='restaurantDiv'>
    </div>
    <!-- This is now hard coding the map element rather than using a ui-view -->
    <div id='mapContainer'>
      <h4>MAP</h4>
      <div id='map'>
      </div>
    </div>
    <!-- <div ui-view='map'>
    </div> -->
  </div>

  <div ng-bind-html='directions'>
  </div>
</div>
