 <div ng-controller='inputsController'>

   <form id='routeSearch' name='routeForm' ng-submit='submit(routeForm)'>
     Start: <input name='start' type='text' ng-model='start' required/>
     End: <input name='end' type='text' ng-model='end' required/>
     <input type='submit'/>
     <select ng-model='mode'>
       <option value='walking'>Walking</option>
       <option value='driving'>Driving</option>
       <option value='bicycling'>Bicycling</option>
     </select>
  </form>

  <div id='places'>
    <span>Addresses</span>
    <div ng-repeat='place in places' ng-click='addAddress(place)'>
      <span>{{place.label}}</span>
      <span>{{place.address[0]}}</span>
      <span>{{place.address[1]}}</span>
      <span>{{place.address[2]}}</span>
    </div>

    <form id='addAddress' name='newAddress' ng-submit='saveAddress(newAddress)'>
      Label:<br>
      <input name='label' type='text' ng-model='address.label' required><br>
      Address:<br>
      <input name='lineOne' type='text' ng-model='address.one' required><br>
      <input name='lineTwo' type='text' ng-model='address.two'><br>
      <input name='lineThree' type='text' ng-model='address.three' required><br>
      <input type='submit'>
    </form>
  </div>

  <button id='logout' ng-click='logout()'>Logout</button>
  <a ui-sref='options' class='blockDisplay'>Options</a>

  <div>
    <div ui-view='restaurantList' id='restaurantDiv'>
    </div>
    <!-- This is now hard coding the map element rather than using a ui-view -->
    <div id='mapContainer'>
      <h4>MAP</h4>
      <div id='map'>
      </div>
    </div>
    <!-- <div ui-view='map'>
    </div> -->
  </div>

  <div ng-bind-html='directions'>
  </div>
 </div>