
<!--   <table id='restaurantTable' ng-show='restaurants.length'>
    <tr>
      <th align='center' ng-click='setSortTerm("name")'>Restaurants</th>
      <th align='center' ng-click='setSortTerm("rating")'>Rating</th>
      <th align='center' ng-click='setSortTerm("review_count")'>Reviews</th>
      <th align='center'>Address</th>
    </tr>
    <tr ng-repeat='restaurant in restaurants | orderBy: sortTerm' ng-click='showInfoWindow(restaurant)' class='restaurantRow'>
      <td class='restaurant'>{{restaurant.name}}</td>
      <td class='rating'>{{stars(restaurant.rating)}}</td>
      <td class='reviewCount rating'>{{restaurant.review_count}}</td>
      <td class='addressTable'>{{restaurant.location.address[0]}}</td>
    </tr>
  </table>
 -->
<div class="restaurantList">
  <div class="row">
    <div input-field class="col s12 m6 offset-m6 l5 offset-l7">
      <select class="" ng-model="sort.input" ng-change="setSortTerm()" material-select watch >
        <option value="name">Name (a-z)</option>
        <option value="-name">Name (z-a)</option>
        <option value="rating">Rating (low-high)</option>
        <option value="-rating">Rating (high-low)</option>
        <option value="review_count">Reviews (low-high)</option>
        <option value="-review_count">Reviews (high-low)</option>
      </select>
      <label>Sort by</label>
    </div>
  </div>
  <ul class="collection">
    <li ng-repeat='restaurant in restaurants | orderBy: sortTerm' ng-click='showInfoWindow(restaurant)' class="collection-item">
      <div class="restaurantName">{{restaurant.name}}
        <!-- <a href="#" class="secondary-content"> -->
        <p class="secondary-content">
          <!-- <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" /> -->
          <input type="checkbox" class="filled-in" id="{{restaurant.id}}" />
          <label for="{{restaurant.id}}"></label>
        </p>
        <!-- </a> -->
      </div>
      <div><span>{{stars(restaurant.rating)}}</span><span> {{restaurant.review_count}} reviews</span></div>
      <div>{{restaurant.location.address[0]}}</div>
    </li>
  </ul>
</div>
