#map {
        width: 100%;
        height: 400px;
}

.restaurantList {
  overflow-y: scroll; 
  height: 400px;
  padding: 0;
  margin: 0;
}

.collection {
  margin: 0;
}

.restaurantName {
  font-weight: bold;
}