#restaurantTable {
  border: 2px solid black;
  min-width: 200px;
  margin: none;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 0.6em;
}
.restaurant, .rating, .addressTable {
  border-top: 1px solid black;
}

.restaurantRow:hover {
  background-color: orange;
  cursor: pointer;
}

#restaurantDiv {
  max-height: 500px;
  overflow-y: scroll;
  display: inline-block;
}

.addressTable {
  text-align: right;
}

#mapContainer {
  width: 500px;
  height: 500px;
}

#map {
  width: 100%;
  height: 100%;
}

#routeSearch {
  margin-bottom: 10px;
}

tr th {
  padding: 3px 10px;
  font-size: 16px;
  font-weight: bold;
}

#loginDiv h1, #signupDiv h1 {
  background-color: #e3e3e3;
  padding: 15px 12px;
  margin: 0px;
  border-left: 15px solid #bababa;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-weight: bold;
}

#loginDiv form, #signupDiv form {
  text-align: right;
  margin-left: 10px;
  width: 230px;
}
#loginDiv form input, #signupDiv form input {
  margin: 5px 0px;
}

#loginDiv a, #signupDiv a {
  margin-left: 30px;
}

#logout {
  float: right;
}

.pref {
  font-family: 'Arial', sans-serif;
  display: inline-block;
  margin: 5px;
  margin-right: 15px;
  padding-right: 5px;
  padding-left: 3px;
  border-left: 1px solid black;
  width: 125px;
}

.pref:hover, a:hover {
  cursor: pointer;
  background-color: #d39797;
  font-weight: bold;
}

#tags {
  margin: 15px 0px;
}

#savePref {
  float: right;
}

.invalid {
  color: red;
  margin: 5px 0px;
}

.infoDescription {
  font-weight: bold;
}

.blockDisplay {
  display: block;
}

.inline {
  display: inline-block;
}

.rightSide {
  float: right;
  text-align: right;
}

.rightSide span {
  font-size: 12px;
}

.rightSide input {
  margin-right: 6px;
}

.rightSide p {
  margin: 0px;
}

.rightSide h4 {
  margin: 3px 10px;
  /*float: right;*/
  font-weight: bold;
  font-size: 1.2em;
}
.rightSide h4 span {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.0em;
}
.rightSide h4 span:hover {
  cursor: pointer;
  color: blue;
}

.rightSide .bold {
  font-weight: bold;
  font-size: 18px;
}

.header h1 {
  margin: 0px 15px;
  padding: 10px 0px;
  font-size: 3.8em;
  font-weight: bold;
}

.header {
  background-color: #e3e3e3;
  border-left: 15px solid #bababa;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.header button {
  margin: 90px 8px 0px 0px;
}

#places, #addAddress {
  margin: 15px 15px;
}

.address {
  display: inline-block;
  margin: 10px 10px;
}

.addressLabel {
  font-weight: bold;
}