#restaurantTable {
  border: 2px solid black;
  min-width: 200px;
  margin: 10px;
}
.restaurant, .rating, .address {
  border-top: 1px solid black;
}

#restaurantDiv {
  max-height: 500px;
  overflow-y: scroll;
  display: inline-block;
}

.address {
  text-align: right;
}

#map, #map2 {
  width: 400px;
  height: 400px;
}

#routeSearch {
  margin-bottom: 10px;
}

tr th {
  padding: 3px 10px;
}

#loginDiv form, #signupDiv form {
  margin-left: 10px;
}
#loginDiv form input, #signupDiv form input {
  margin: 5px 0px;
}

#logout {
  float: right;
}

.pref {
  font-family: 'Arial', sans-serif;
  display: inline-block;
  margin: 5px;
  margin-right: 15px;
  padding-right: 5px;
  padding-left: 3px;
  border-left: 1px solid black;
  width: 125px;
}

.pref:hover, a:hover {
  cursor: pointer;
  background-color: #d39797;
  font-weight: bold;
}

#tags {
  margin: 15px 0px;
}

#savePref {
  float: right;
}

.invalid {
  color: red;
  margin: 5px 0px;
}

.infoDescription {
  font-weight: bold;
}

.blockDisplay {
  display: block;
}