/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/************************ End of Reset **************************/

html, body {
	color: black;
  background-color: white;
  height: 100%;
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#restaurantTable {
  min-width: 100%;
  margin: none;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 0.7em;
  background-color: white;
}

tr th {
  padding: 3px 10px;
  font-size: 16px;
  font-weight: bold;
}

td {

  line-height: 50px;
  max-width: 160px;
  font-size: 18px;
  font-family: 'Open Sans';
}

.restaurant, .rating, .addressTable {
  border-top: 1px solid gray;
}

.restaurant {
  width: 30%;
  text-align: center;
}

.rating {
  width: 15%;
  text-align: center;
  color: #0075C4;
}

.restaurantRow:hover  .rating {
  color: white;
}

.addressTable {
  width: 55%;
  text-align: center;
}

.restaurantRow:hover {
  background-color: #0075C4;
  color: white;
  cursor: pointer;
}

#restaurantAndMap {
  margin-top: 2px;
  border: 1px solid #0075C4;
  height: 800px;
  width: 100%;
  display: flex;
}

#restaurantDiv {
  height: 100%;
  overflow-y: scroll;
  min-width: 40%;
  display: inline-block;
}

#mapContainer {
  height: 100%;
  flex-basis: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

#routeSearch {
  margin: 10px 0 10px 10px;
}

#loginDiv h1, #signupDiv h1 {
  background-color: #e3e3e3;
  padding: 15px 12px;
  margin: 0px;
  border-left: 15px solid #bababa;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-weight: bold;
}

#loginDiv form, #signupDiv form {
  text-align: right;
  margin-left: 10px;
  width: 230px;
}
#loginDiv form input, #signupDiv form input {
  margin: 5px 0px;
}

#loginDiv a, #signupDiv a {
  margin-left: 30px;
}

#logout {
  float: right;
}

.pref {
  font-family: 'Arial', sans-serif;
  display: inline-block;
  margin: 5px;
  margin-right: 15px;
  padding-right: 5px;
  padding-left: 3px;
  border-left: 1px solid black;
  width: 125px;
}

.pref:hover, a:hover {
  cursor: pointer;
  color: #0075C4;
  font-weight: bold;
}

#tags, #addressesContainer {
  margin: 0px;
  margin-bottom: 4px;
  border: 1px solid #0075C4;
  border-radius: 7px;
  padding: 4px;
  background-color: #0075C4;
  color: white;
  padding-left: 15px;
}

#savePref {
  float: right;
}

.invalid {
  color: red;
  margin: 5px 0px;
}

.infoDescription {
  font-weight: bold;
}

.blockDisplay {
  display: block;
}

.inline {
  display: inline-block;
}

.rightSide {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin-top: 10px;
  float: right;
  text-align: right;
}

.rightSide span {
  font-size: 12px;
}

.rightSide input {
  margin-right: 6px;
}

.rightSide p {
  margin: 0px;
}

.rightSide h4 {
  margin: 3px 10px;
  /*float: right;*/
  font-weight: bold;
  font-size: 1.2em;
}
.rightSide h4 span {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.0em;
}
.rightSide h4 span:hover {
  cursor: pointer;
  color: #fff;
}

.rightSide .bold {
  font-weight: bold;
  font-size: 18px;
}

.header h1 {
  color: white;
  font-weight: 300;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin: 0px 15px;
  padding: 10px 0px;
  padding-top: 20px;
  font-size: 3.8em;
}

.header {
  color: black;
  background-color: #0075C4;
  /*border-left: 15px solid #E6EBE0;*/
  font-family: 'Modak', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.header button {
  margin: 90px 8px 0px 0px;
}

.startEnd {
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
  color: #0075C4;
}

select {
  background-color: white;
  color: #0075C4;
  border: 2px #0075C4 solid;
  border-radius: 7px;
  font-weight: bold;
}

option {

}

#places h4 {
  margin: 0px;
}

.address {
  display: inline-block;
  margin-left: 15px;
  width: 175px;
  border-radius: 7px;
}

.address:hover {
  cursor: pointer;
  color: black;
}

.addressLabel {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.addressLocation {
  font-size: 0.75em;
}

#addAddress h4 {
  margin: 0px 0px 0px 20px;
}

#addAddress input {
  margin-right: 20px;
}

#addAddress input:last-child {
  margin-left: 15px;
}

.showDiv {
  height: 400px;
  -webkit-transition: all 1s ease;
}
.hideDiv {
  height: 0px;
  -webkit-transition: all 1s ease;
}

.small {
  font-size: 0.8em;
}

.hoverClick {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0075C4;
}

.hoverClick:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

#tags h4 {
  margin: 0px 0px 0px 5px;
}

.textInput {
  border-width: 2px;
  border-radius: 7px;
  border-color: #0075C4;
  padding-left: 5px;
}

#optionsBar {
  display: inline-block;
  margin-left: 10px;
}
/*
#addresses {
  width: 66%;
}

#filters {
  width: 33%;
}*/

#addresses, #filter {
  display: block;
}

/*** Button Styles ***/
.btn {
  height: 20px;
  width: 80px;
  color: #0075C4;
  font-weight: bold;
  padding-bottom: 15px;
  border-radius: 7px;
  display: inline-block;
  border: 2px solid #0075C4;
  background-color: white;
}

.btn:hover {
  color: white;
  background-color: #0075C4;
  border: 1px black solid;
  cursor: pointer;
}